body {
    background-color: #80DEEA;
    font-family: Open Sans;
    /* Source: http://www.awwwards.com*/
    font-size: 30px;
    color: white;
    margin: 0;
}

.container
{
  background-image: url("images/logo.jpg");
}
