body
{
background-color:#80DEEA;
font-family: Open Sans;/* Source: http://www.awwwards.com*/
font-size: 30px;
color:white;
}
#container
{
widht:1000px;
margin-left: auto;
margin-right: auto;
}


#img src="images/logo.jpg"
{
  width: 1000px;
  text-align: center:150px;
  padding-top: 250px;
}
