body
{
background-color:gray;
font-family: Open Sans;/* Source: http://www.awwwards.com*/
font-size: 30px;
color:white;
}

#logo
{
  background-color: silver;
  color: white;
  text-align:center;
  padding:ndding: 450px;

}
